<VirtualHost *:80>
    ServerName localhost
    
    ProxyPreserveHost On
    
    ProxyPass        /api/  http://172.20.0.2:8080/
    ProxyPassReverse /api/  http://172.20.0.2:8080/
    
    ProxyPass        /  http://172.20.0.4:80/
    ProxyPassReverse /  http://172.20.0.4:80/
</VirtualHost>
